{{ define "main" }}
<main role="main">
	<article>
		<header>
			<h2>{{.Title}}</h2>
		</header>
		<div class="content">
			{{.Content}}
		</div>
		{{- partial "post-footer.html" . }}
	</article>
</main>
{{- partial "page-footer.html" . }}
{{ end }}
