<section>
	<div class="hero" style="{{if .Get "bgcolor"}}background-color: {{.Get "bgcolor"}};{{end}}{{if .Get "height"}}min-height: {{.Get "height"}};{{end}}{{ if .Get "img"}}background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('{{ .Get "img" | absURL }}');{{ end }}">
	<div class="content">
	{{ .Inner | markdownify }}
{{- if .Get "donate" }}
<a class="button center" href="/donate">Donate</a>
{{- end }}
{{- if .Get "mailchimp" }}
<div id="mc_embed_signup">
<form action="https://cornergarage.us20.list-manage.com/subscribe/post?u=cf1fbbce5ec6583d46c487a0c&amp;id=c0511d99a3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">

<div class="mc-field-group">
<label for="mce-EMAIL">Email Address </label>
<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"/>
</div>
{{- if .Get "archive" }}
<p><a href="https://us20.campaign-archive.com/home/?u=cf1fbbce5ec6583d46c487a0c&id=c0511d99a3" title="View previous campaigns">View previous campaigns.</a></p>
{{- end }}
<div id="mce-responses" class="clear">
<div class="response" id="mce-error-response" style="display:none"></div>
<div class="response" id="mce-success-response" style="display:none"></div>
</div><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cf1fbbce5ec6583d46c487a0c_c0511d99a3" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button primary"/></div>
</div>
</form>
</div>
{{- end }}
	</div>
</div>
{{- if .Get "caption" }}
<div class="caption">
	{{ .Get "caption" | markdownify }}
</div>
{{- end }}
</section>
