<head>
	<meta charset="utf-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	{{ .Site.Hugo.Generator }}
	{{ template "_internal/opengraph.html" . -}}

	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="Description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
	{{- if or .Params.nofollow .Params.noindex }}
	<meta name="robots" content="{{ if .Params.noindex }}noindex{{ end }}{{ if and .Params.nofollow .Params.noindex }},{{ end }}{{ if .Params.nofollow }}nofollow{{ end }}"/>
	{{- end }}
	{{ partial "meta.html" . }}
	{{ partial "fonts.html" . }}

	<title>
		{{- block "title" . }}{{ .Site.Title }}{{ if and .Title (ne .Title .Site.Title) }} — {{ .Title }}{{ end }}{{ end -}}
	</title>

	<link rel="canonical" href="{{ .Permalink }}"/>
	{{- with .OutputFormats.Get "RSS" }}
	<link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}"/>
	<link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}"/>
	{{- end }}

	{{- with $style := resources.Get "css/main.css" | resources.ExecuteAsTemplate "css/main.css" . | resources.Minify | resources.Fingerprint "sha256"}}
	<link rel="stylesheet"
				href="{{ $style.Permalink }}"
				integrity="{{ $style.Data.Integrity }}"/>
	{{- end }}
	{{ partial "css.html" . }}
	<link rel="shortcut icon" type="image/png" href="{{ .Site.Params.favicon}}"/>
</head>
