<span class="icons">
{{- with .OutputFormats.Get "RSS" }}
	<a href="{{ .RelPermalink }}" title="RSS">
		<i class="fa fa-rss-square" aria-hidden="true"></i>
	</a>
{{- end }}
	<a href="https://www.facebook.com/sopobikes" title="Sopo on Facebook">
		<i class="fa fa-facebook-square" aria-hidden="true"></i>
	</a>
	<a href="https://www.instagram.com/sopobikecoop/" title="Sopo on Instagram">
		<i class="fa fa-instagram" aria-hidden="true"></i>
	</a>
</span>
