<footer>
<div class="flex-footer">

<div>
<h2>Donations FAQ</h2>

<p>
<strong>Adult bicycles:</strong>
Yes. We accept working, fixable parts and bikes.
</p>

<p>
<strong>Kids bikes:</strong>
No. Please contact <a href="https://fb4k.org/">Free Bikes 4 Kids</a>.
</p>

<p>
<strong>Cash:</strong>
Yes. During shop hours or <a href="/donate">donate online</a>.
</p>

<p>
<strong>Clothes and Accessories:</strong>
Yes. In good condition, washed, during shop hours.
</p>
</div>

<div>
<h2>Location &amp; Inquiries</h2>

<p>
<strong>Hours:</strong>
{{ $.Page.Site.Params.hours }}
</p>

<p>
<strong>Location:</strong>
{{ with (index $.Page.Site.Params.address 0)}}
{{- index . "address" }}, {{ index . "locality" }}, {{ index . "region" }} {{
index . "postalCode" }}
{{- end }}
</p>

<p>
<strong>Email:</strong>
<a href="/contact">Contact Us</a>
</p>

</div>

</footer>
