<div class="content flex-row" style="justify-content: space-between">
	{{- range first 3 (where (.Page.Site.RegularPages.ByParam "start") "Section" "event").Reverse }}
	<article>
		<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
		<p>{{if .Description}}{{.Description}}{{else}}{{ .Summary }}{{end}}</p>
	</article>
	{{- else }}
	<p>No upcoming events.</p>
	{{- end }}
</div>

<a class="button" href="/events">Calendar…</a>
