<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="44GC7G6S6YBPU">
	<input type="image" src="/images/PayPal.svg" name="submit" title="Donate with PayPal" alt="PayPal">
</form>
