{{- range .Site.Params.stripe.products }}
<button class="primary"
				id="checkout-button-{{ .id }}"
				role="link">{{ .name }} ({{ .price }})</button>
{{- end }}

<div id="error-message"></div>

<script src="https://js.stripe.com/v3"></script>
{{- with $script := resources.Get "js/loadstripe.js" | resources.ExecuteAsTemplate "js/loadstripe.js" . | resources.Minify | resources.Fingerprint "sha256" }}
<script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>
{{- end }}
